<div class="main-background">
  <!-- <app-svg-animaition></app-svg-animaition> -->

  <!-- Toolbar -->
    <div class="header" role="banner">
      <img class="logo left" src="../assets/Header-Dragon.png"/>
      <nav class="main-nav left">
        <a class="main-nav-links" href="">Races</a>
        <a class="main-nav-links" href="">Classes</a>
        <a class="main-nav-links" href="">Alignments</a>
        <a class="main-nav-links" href="">Languages</a>
      </nav>
    </div>
    <div class="clearfix"></div>
    <div class="content  center" role="main">
      <h1 class="center-text col-12">Dungeons and Dragons Character Creator 5th Edition</h1>

      <div class="card-container grid-row col-12">
        <div class="app-form card col-sm-12 col-md-6">
          <app-drop-down-form></app-drop-down-form>
        </div>



        <div class="col-sm-12 col-md-6 col-lg-3">
          <app-charcter-gen></app-charcter-gen>
        </div>


      </div>

      <div class="card-container grid-row col-12">
        <div class="card col-sm-12 col-md-6 col-lg-3">
          <app-ability-tile></app-ability-tile>
        </div>
      </div>






      <!-- Footer -->
      <footer>

      </footer>

    </div>
</div>





<router-outlet></router-outlet>
