# node modules
node_modules/

# dist files
dist/

# angular cache files
.angular/

# coverage files
coverage/

# environment variables
.env

# orm config file
ormconfig.json

# compiled js files
*.js

# compiled css files
*.css

# compiled html files
*.html

# system files
.DS_Store
Thumbs.db

# IDE files
.idea/

# logs
logs/

# config files
*.config.js

# npm-debug.log*
npm-debug.log*

# yarn debug logs
yarn-debug.log*
yarn-error.log*
