@import "./mixins";

// Usage
.grid {
  @include grid-row();
}

.left {
  float: left;
}
.right {
  float: right;
}
.center-text {
  text-align: center;
}
.center {
  margin: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.defaultPadding {
  padding:20px;
}

.card-container {
  position: relative;
}
